{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaVersion": 2018,
    "sourceType": "module",
    "project": "./tsconfig.json"
  },
  "plugins": ["react", "@typescript-eslint", "jest"],
  "extends": [
    "airbnb-typescript",
    "airbnb/hooks",
    "plugin:@typescript-eslint/recommended",
    "prettier",
    "prettier/react",
    "prettier/@typescript-eslint",
    "plugin:prettier/recommended",
    "plugin:jest/recommended"
  ],
  "rules": {
    "react/jsx-filename-extension": [
      1,
      { "extensions": [".ts", ".tsx", ".test.js"] }
    ],
    "react/jsx-props-no-spreading": 0,
    "react/require-default-props": 0,
    "react/no-array-index-key": 0,
    "react/prop-types": 0,
    "import/prefer-default-export": 0,
    "jest/no-mocks-import": 0,
    "jsx-a11y/click-events-have-key-events": 0,
    "jsx-a11y/no-static-element-interactions": 0,
    "@typescript-eslint/no-inferrable-types": 0,
    "@typescript-eslint/no-shadow": 0,
    "@typescript-eslint/no-explicit-any": 0,
    "@typescript-eslint/explicit-module-boundary-types": 0
  }
}
